AlbumsFromSpotifyPlaylist.json
{
  "name": "AlbumsFromSpotifyPlaylist",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -820,
        120
      ]
    },
    {
      "parameters": {
        "resource": "playlist",
        "operation": "getTracks",
        "id": "={{$node[\"Function\"].json[\"playlist\"]}}",
        "returnAll": true
      },
      "name": "Spotify1",
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        -540,
        120
      ],
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "1",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "return [\n  {\n    json: {\n      id: 1,\n      year: 2022,\n      playlist: \"5AjkoMWDmWBEXdg3cLS2E7\"\n    }\n  }\n];"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -680,
        120
      ]
    },
    {
      "parameters": {
        "functionCode": "//ESTE FUNCIONA\nconst results = [];\nfor (item of items) {\n  \n  const CAlbumName = item.json.track.album.name;\n  const CAlbumType = item.json.track.album.album_type;\n  const CAlbumReleaseDate = item.json.track.album.release_date;\n  const CAlbumID = item.json.track.album.id;\n  const CArtistName = item.json.track.artists[0].name;\n \n    if (CAlbumType == \"album\" ) {\n\n      var ArrayTemp = {AlbumID : CAlbumID, ArtistName : CArtistName, AlbumName : CAlbumName, ReleaseDate : CAlbumReleaseDate};\n    \n      results.push({json:ArrayTemp});\n  }\n  \n}\nreturn results;\n//ESTE FUNCIONA"
      },
      "name": "Filtrado",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -380,
        120
      ]
    },
    {
      "parameters": {
        "operation": "removeDuplicates"
      },
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        -220,
        120
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        -60,
        120
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "Spotify1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spotify1": {
      "main": [
        [
          {
            "node": "Filtrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrado": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": 17,
  "tags": []
}